main * {
    font-family: "ReithSans", sans-serif;
    color: #3f3f42;
}

main img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ReithSerif", serif;
    font-weight: bold;
}

.credit * {
    font-family: "ReithSerif", serif;
}

main a {
    border-bottom: none;
    text-decoration: underline 1px rgb(186, 186, 186);
    text-decoration-skip-ink: none;
    text-underline-offset: 0.25em;
    font-weight: 700;
    color: rgb(63, 63, 66);
}

main a:hover {
    border-bottom-color: currentcolor;
    border-bottom-width: 2px;
    text-decoration-color: currentcolor;
    text-decoration-thickness: 2px;
    color: rgb(184, 0, 0);
}

.top-stories h3 {
    font-weight: bold;
    font-size: 20px;
}

.top-stories > * > div {
    margin-top: 20px;
}

ol ::marker {
    color: #bb1919;
    font-size: 2.75rem;
}

.top-stories a {
    font-weight: normal;
    text-decoration: none;
}